/* Global styles */
#root {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  /* Background color */
  background-color: #cfcfc8; 
}

/* Header */
.header {
  /* Header background color */
  background-color: #563d21; 
  /* Header text color */
  color: #cfcfc8; 
  padding: 20px;
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header nav ul li {
  display: inline;
  margin-right: 20px;
  cursor: pointer;
}

.header nav ul li.active {
  /* Active link color */
  color: #b3896d; 
}

/* Sections */
section {
  padding: 20px;
}

/* About Me */
.about-me .bio img {
  width: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

/* Contact Form */
.contact form .form-group {
  margin-bottom: 20px;
}

.contact form label {
  display: block;
  margin-bottom: 5px;
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form textarea {
  width: 100%;
  padding: 10px;
  /* Input border color */
  border: 1px solid #637b97; 
  border-radius: 5px;
}

.contact form input[type="submit"] {
  
  /* Submit button background color */
  background-color: #af6527; 
   /* Submit button text color */
  color: #cfcfc8;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

 /* Submit button background color on hover */
.contact form input[type="submit"]:hover {
  background-color: #b3896d;
}

/* Footer */
.footer {
  background-color: #563d21;
  color: #f4f3ee;
  padding: 20px;
  text-align: center;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li {
  display: inline;
  margin-right: 10px;
}

.footer ul li a {
  color: #f4f3ee;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #b3896d;
}




  